{% extends 'mailingapp/base.html' %}

{% block content %}

<div class="col-6 mb-5">
    <a href="{% url 'mailingapp:mailingsettings_create' %}" class="w-30 btn btn-lg btn-primary">Создать</a>
</div>

<div class="row text-center">

    {% for MailingSettings in mailingsettings_list %}

    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Рассылки</h4>
            </div>
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ MailingSettings.pk }}</li>
                    <li>{{ MailingSettings.title }}</li>
                    <li>{{ MailingSettings.time }}</li>
                    <li>{{ MailingSettings.frequency }}</li>
                    <li>{{ MailingSettings.status }}</li>
                    <li>{{ MailingSettings.statistic }}</li>
                </ul>
                <a href="{% url 'mailingapp:mailingsettings_card' MailingSettings.pk %}"
                   class="w-100 btn btn-lg btn-outline-primary">Подробнее</a>
                <a href="{% url 'mailingapp:mailingsettings_update' MailingSettings.pk %}"
                   class="w-100 btn btn-lg btn-outline-primary">Изменить</a>
                <a href="{% url 'mailingapp:mailingsettings_delete' mailingsettings.pk %}"
                   class="w-100 btn btn-lg btn-outline-warning">Удалить</a>
            </div>
        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}